.dimensionTitle, .dimensionValue{
    font-size:50px
}

.loader{
    display:none;
}




canvas{
	display: block;
  	
	
}



#screen{
    position:relative;
}

#video{
    position:absolute;
    left:0;
    top:0;
    
    z-index:1;
    object-fit:fill;
}

#aug{
    position:absolute;
    left:0;
    top:0;
    z-index:2;
}